.work {
  background-color: #1387812a;
  padding-left:130px;
}
.work-exp {
    padding:60px 0px;
}

.work-exp h2 {
    font-weight: bold;
    color: #138781;
}
.work-exp hr {
    color: #1e1e2c;
    width: 400px;
    margin: 10px auto;
}
.work-exp .vertical-timeline-element-title {
    color: #138781;
  }
  
  .work-exp .vertical-timeline-element-subtitle {
    color: #1e1e2c78;
  }

  /* ======================================= */
@media (max-width:600px){
  .work {
      margin: 0;
      padding: 0;
      margin-top: 50px;
  }
  .work hr {
      width:290px;
  }
}